In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
DATASET = 'SA_2016_week_1_8.csv'
df_2016 = pd.read_csv(DATASET)

In [3]:
df_2016.head(3)

,Satisfaction Score,Schedule Pacing,Timestamp,Track,Year,location,week
0,6,3.0,8/5/2016 1:39:41,Unknown,2016,TP,7
1,8,3.0,8/5/2016 1:40:47,Unknown,2016,TP,7
2,8,3.0,8/5/2016 1:40:50,Unknown,2016,TP,7